@using OnlineShop.Models
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}
<br />
<br />

<div class="row">
    <div class="col-md-6">
        <h2 class="text-info">Product List</h2>
    </div>
    <div class="col-md-6 text-right">
        <a class="btn btn-info" asp-action="Create"><i class="fas fa-plus-circle"></i> New Product</a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border ">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Price)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ProductColor)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ProductTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.TagId)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.IsAvailable)
            </th>
            
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.ProductColor</td>
                <td>@item.ProductTypes.ProductType</td>
                <td>@item.Tag.Name</td>
                <td>@item.IsAvailable</td>
                <td> <partial name="_ButtonsPartial" model="item.Id" /></td>
            </tr>
        }
    </table>
</div>
@section Scripts {
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
        $().ready(function () {
            var save = "@TempData["save"]";
            console.log(save);

            if (save != "") {
                alertify.set('notifier', 'position', 'top-right');
                alertify.success(save);
            }
        });
    </script>
}

